@import "./partials/reset";
@import "./partials/navbar";
@import "./partials/imgmenu";
@import "./partials/imgpromo";
@import "./partials/footer";




.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;

    .titulo2{
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;
    
    .texto{
        font-size: large;
    }}
}
